<!Doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name= "Author" content="Martay Williams">



  <!--Load the static variable that refers to the images folder-->
  {% load static %}



  <title> About </title>
</head>
<style>

body {
  background-color:#3792cb;
}
h1 {
    width: 30%;
	vertical-align: middle;
	text-align: center;
	font-family: georgia;
	border-radius: 20px;
	background-color: #d8f9ff;
	padding-top:15px;
	padding-bottom:15px;
	margin-right: auto;
	margin-left: auto;
}

h2 {
    width: 70%;
	vertical-align: middle;
	text-align: center;
	font-family: georgia;
	border-radius: 20px;
	background-color: #d8f9ff;
	padding-top:15px;
	padding-bottom:15px;
	margin-right: auto;
	margin-left: auto;
}
</style>
<body>
<h1> Sorry :( </h1> <br><br>
<h2> <br><br>
  Someone already bought that cat. <br><br>
   </h2>
</body>

</html>